= javascript_include_tag "https://www.google.com/jsapi", "chartkick"

%h1 User Show

.row
  .six.columns
    .card
      = line_chart @goals.map { |goal| {name: goal.name, data: goal.tasks.group_by_week(:date_planned).sum(:hours_worked)}}
  .six.columns
    %h3 Number of Hours Worked in your Goals