.section.hero
  .container
    .row
      .one-half.column
        %h4.hero-heading Stop Wasting your life and start Acting to achieve your goals
        %a.button.button-primary{:href => "/users/sign_up"} Try Lifely
      .one-half.column.screens
        %img.screen{:src => "/screenshot.gif"}
