.container
  .row
    .seven.columns
      - @goals.each do |i|
        .card
          .goal-title
            %h3= link_to("#{i.name}", goal_path(i))
          .goal-body
            %ul
              - i.tasks.each do |u|
                %li= u.name
            %p=link_to("new goal", new_goal_path)
    .five.columns
      .flow
        %ul.card
          - @tasks.each do |i|
            %li=i.name
