!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Life
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav
      %ul
        %li Home
        %li Stats
        %li Profile
    .openNav
      .icon
    .wrapper
      %h1 Path of Life
      = yield